<h2 class="text-center">Contact</h2>

<ul>
  <li>Having trouble with the site?</li>
  <li>Notice a bug?</li>
  <li>See something you think could be better?</li>
</ul>

<p>Please <%= mail_to CONTACT_EMAIL, 'email Madness Draft' %> your issue!</p>
<p>Madness Draft is still in beta-testing mode and appreciates any and all suggestions, bug reports, questions, and concerns.</p>
