<h2>Contact</h2>

<ul>
  <li>Having trouble with the site?</li>
  <li>Notice a bug?</li>
  <li>See something you think could be better?</li>
</ul>

<p>Please <%= mail_to 'draftmadnessgame@gmail.com', 'email Draft Madness' %> your issue!</p>
<p>Draft Madness is in beta-testing mode and appreciates any and all suggestions, bug reports, questions, and concerns.</p>
