<h2><%= league.name %></h2>
<h3><%= league.description %></h3>

<div class="full-reminder">
  <% if league.full? %>
    Congrats! Your league is full and ready to rumble.
  <% else %>
    <p>
      Your league is still
      <strong><%= pluralize(8 - league.owners.count, 'owner') %></strong>
      away from being ready to participate.
    </p>
    <p>
      <strong>Reminder:</strong> You have until 11:59 PT Wednesday March 16 to have 8 owners.
    </p>

    <%= link_to 'Invite Friends to this League', '#', class: 'btn btn-primary' %>
  <% end %>
</div>

</br>
<!-- Incoroprate this into the navbar and include user/show as a link as well -->
