<%= render 'header', league: @league %>

<main id="bracket">
  <% if School.bracket_announced?(Time.now.year) && @league.current? && @games_by_round %>
    <% 6.times do |round_num| %>
      <ul class="round round-<%= round_num %>">
        <li class="spacer">&nbsp;</li>
        <% @games_by_round[round_num].each do |game| %>
          <%= render 'bracket_game', game: game %>
        <% end %>
      </ul>
    <% end %>
  <% elsif @league.year == 2016 %>
    <%= image_tag '2016-bracket-ncaa', id: 'bracket-2016' %>
  <% else %>
    <h4 class="text-center">
      The bracket will be posted here shortly after it has been released. Check back soon!
    </h4>
  <% end %>
</main>
