<%= render 'header', league: @league %>

<main id="bracket">
  <% if @games.any? { |game| game.is_over } && @league.current? %>
    <% current_round_games = @games.where(round: 0).order(:id) %>

    <% 6.times do |round_num| %>
      <% next_round_games = [] %>

      <ul class="round round-<%= round_num %>">
        <li class="spacer">&nbsp;</li>

        <% current_round_games.each_with_index do |game, idx| %>
          <%= render 'bracket_game', game: game %>
          <% next_round_games << game.next_game if idx.odd? && game.next_game %>
        <% end %>

        <% current_round_games = next_round_games %>
      </ul>
    <% end %>

  <% elsif @league.year == 2016 %>
    <%= image_tag '2016-bracket-ncaa', id: 'bracket-2016' %>
  <% else %>
    <h4 class="text-center">
      The bracket will be posted here shortly after it has been released. Check back soon!
    </h4>
  <% end %>
</main>
