<%= render 'user_data', user_data: @user_data %>

<%= render 'header', league: @league %>

<%= render 'centered_nav', league: @league %>

<h3>Welcome to the Draft Room</h3>

<div class="draft-room-container">
</div>
