<%= render 'header', league: @league %>

<%= render 'centered_nav', league: @league %>

<h3>Welcome to the Draft Room</h3>
<p>This page will include:</p>
<ul>
  <li>List of schools to choose from</li>
  <li>List of schools already chosen by you and other players.</li>
</ul>
