<h2><%= @league.name %></h2>
<h3><%= @league.description %></h3>

<div class="full-reminder">
  <% if @league.full? %>
    Congrats! Your league is full and ready to rumble.
  <% else %>
    Your league is still <%= 8 - @league.owners.count %> owners away from being ready to participate.
    <strong>Reminder:</strong> You have until 11:59 PT Wednesday March 16 to have 8 owners.
  <% end %>
</div>

<ul>
  <li>All the owners in the league sorted by total points.</li>
  <li><%= image_tag 'standings-mock', class: 'mock-image' %></li>
</ul>

<h3>Leaderboard</h3>
<table class="table table-striped table-responsive table-condensed">
  <tr>
    <th>Ranking</th>
    <th>Has Paid?</th>
    <th>Owner Name</th>
    <th>Second Round</th>
    <th>Third Round</th>
    <th>Sweet Sixteen</th>
    <th>Elite Eight</th>
    <th>Final Four</th>
    <th>National Championship</th>
    <th>PPR*</th>
    <th>Max</th>
    <th>TOTAL</th>
  </tr>
</table>
