<h1 class="text">Pages</h1>

<h2>Owner Show page</h2>
<p>On this page will be:</p>
<ul>
  <li>Owner name and motto</li>
  <li>All the owner's schools and their current points sorted by when they were drafted.</li>
  <li><%= image_tag 'owner-schools-mock', class: 'mock-image' %></li>
</ul>

<h2>Bracket</h2>
<p>This page will serve as:</p>
<ul>
  <li>List of schools</li>
  <li>Schedule of games</li>
  <li>Results of games</li>
  <li>Bonus: choose which owner you would like to reflect personalized results for</li>
</ul>

<h2>Draft Board</h2>
<p>This page will include:</p>
<ul>
  <li>List of schools to choose from</li>
  <li>List of schools already chosen by you and other players.</li>
</ul>
