<h1 class="text">Pages</h1>
<h2>User Show page</h2>
<p>On this page will be:</p>
<ul>
  <li>Your email.</li>
  <li>List of the most recent/current/upcoming tournament games.</li>
  <li>List of leagues you're in (with your current points and ranking).</li>
</ul>

<h2>League Standings</h2>
<p>On this page will be:</p>
<ul>
  <li>League name and description</li>
  <li>All the owners in the league sorted by total points.</li>
  <li><%= image_tag 'standings-mock', class: 'mock-image' %></li>
</ul>

<h2>Owner Show page</h2>
<p>On this page will be:</p>
<ul>
  <li>Owner name and motto</li>
  <li>All the owner's schools and their current points sorted by when they were drafted.</li>
  <li><%= image_tag 'owner-schools-mock', class: 'mock-image' %></li>
</ul>

<h2>Bracket</h2>
<p>This page will serve as:</p>
<ul>
  <li>List of schools</li>
  <li>Schedule of games</li>
  <li>Results of games</li>
  <li>Bonus: choose which owner you would like to reflect personalized results for</li>
</ul>

<h2>Draft Board</h2>
<p>This page will include:</p>
<ul>
  <li>List of schools to choose from</li>
  <li>List of schools already chosen by you and other players.</li>
</ul>
