<div class="header">
  <div class="container">
    <div class="text-center">
      <%= image_tag 'bball-icon', class: 'bball-icon' %>
    </div>

    <div class="text-center title">
      Draft Madness 2016
    </div>

    <div class="login-btn text-center">
      <% if user_signed_in? %>
        <%= link_to 'Logout', logout_path, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
