.draft-room {
  .message {
    margin: 10px;
  }

  .section-header {
    font-size: 20px;
    font-weight: bold;
  }

  .schools-key, .owners-key {
    margin-bottom: 20px;
    border-bottom: 1px solid $bball-orange;
  }

  .owners {
    margin-bottom: 20px;

    .owners-container {
      margin-bottom: 10px;

      .owner {
        padding: 10px 0;

        &.current-turn {
          font-weight: bold;
        }
      }
    }
    .owners-key {
      .current-turn {
        font-weight: bold;
      }
    }
  }

  .schools {
    .regions {
      border: 2px solid $bball-dark-court;
      border-radius: 5px;

      .region {
        padding: 10px;
        background: $bball-court;
      }
    }

    .schools-key {
      .blocked {
        background: #eee;
      }
    }
    .schools-container {
      margin-bottom: 20px;

      .school {
        padding: 10px 0;

        &.blocked {
          background: #eee;
        }
        &.available:hover {
          background: $bball-court;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
