.draft-room {
  .message {
    margin: 10px;
  }

  .section-header {
    font-size: 20px;
    font-weight: bold;
  }

  .owners {
    margin-bottom: 20px;

    .owner {
      padding: 10px 0;

      &.current-turn {
        font-weight: bold;
      }
    }
  }

  .schools {
    .regions {
      border: 2px solid $bball-dark-court;
      border-radius: 5px;

      .region {
        padding: 10px;
        background: $bball-court;
      }
    }
    .school {
      padding: 10px 0;

      &.blocked {
        background: #eee;
      }
      &.available:hover {
        background: $bball-court;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
