#dm-header {
  background: $bball-court;

  .navbar-header {
    .navbar-brand {
      width: 55px;
      .bball-icon {
        width: 100%;
      }
    }
  }

  ul.navbar-nav {
    a {
      background: $bball-court;
      color: black;
    }

    li a:hover {
      background: $bball-dark-court;
    }

    li.title, li.title.active a {
      color: $bball-orange;
      font-weight: bold;
      font-size: 24px;
      color: $bball-orange;
    }
  }

  .logout {
    float: right;

    a {
      float: left;
      padding: 15px;
      margin: 0 20px;
      color: inherit;

      &:hover {
        background: $bball-dark-court;
      }
    }
  }
}
